.blue-background {background-color: #007FA3;}
.left-padding {padding-left:10px}
.float-right{float:right;}
.modal-backdrop {z-index: 0;}
.blue-color-background{background-color:#007FA3;border-radius: 2px;}